.card-skeleton-container {
  width: 250px;
  height: 155px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: var(--skeleton-base);
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.skeleton-image {
  width: 100%;
  height: 100%;
}

.shimmer {
  position: relative;
  overflow: hidden;
  background-color: var(--skeleton-base);
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--skeleton-highlight) 50%,
    transparent 100%
  );
  opacity: 0.6;
  animation: shimmerAnim 1.5s infinite;
}

@keyframes shimmerAnim {
  100% {
    transform: translateX(100%);
  }
}
