header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3%;
  height: 68px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease;
  background-image: radial-gradient(
      farthest-side at top left,
      var(--bg-overlay) 0%,
      transparent 50%
    ),
    radial-gradient(
      farthest-side at top right,
      var(--bg-overlay) 0%,
      transparent 50%
    ),
    linear-gradient(to bottom, var(--bg-overlay) 0%, transparent 100%);
}

.header.scrolled {
  background-color: var(--bg);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-logo img {
  height: 33px;
  vertical-align: middle;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 0.85rem;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--text-hover);
}

.nav-link.active {
  color: var(--highlight);
  font-weight: 450;
  cursor: default;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  vertical-align: middle;
  width: fit-content;
}

/* --- RESPONSIVE (Móvil) --- */
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  /* burger */
}
