.hero {
  height: 77vh;
  width: 100%;
  color: var(--text-primary);
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center center;
  z-index: -2;
  filter: brightness(1.1) contrast(1.1) saturate(1.2);
  transition: background-image 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hero-overlay);
  z-index: -1;
}

.hero-content {
  padding-top: 100px;
  padding-left: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 600px;
  z-index: 10;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  color: var(--highlight);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  line-height: 1.1;
  letter-spacing: -1px;
  max-height: calc(4.5rem * 1.1 * 3);
}

.hero-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  text-shadow: var(--text-shadow);
  font-size: 1.1rem;
  color: var(--highlight);
  z-index: 1;
}

.hero-tags li:not(:last-child)::after {
  content: "•";
  margin-left: 0.5rem;
}

.hero-description {
  width: 45rem;
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 100%;
  height: 90px;
  color: var(--highlight);
  text-shadow: var(--text-shadow);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  z-index: 1;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  z-index: 50;
}

.hero-btn {
  cursor: pointer;
  color: var(--highlight);
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 4px;
  padding: 0.6rem 2rem;
  margin-right: 1rem;
  background-color: var(--bg-button);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;
}

.hero-btn.play {
  background-color: var(--highlight);
  color: var(--bg);
}

.hero-btn.play:hover {
  background-color: var(--text-hover);
}

.hero-btn.info {
  background-color: var(--bg-button);
  color: var(--highlight);
  border: 1px solid var(--border-color);
}

.hero-btn.info:hover {
  background-color: var(--bg-button-hover);
}

.hero-fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-image: linear-gradient(180deg, transparent, var(--bg));
  pointer-events: none;
}

@media (max-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 67vh;
  }

  .hero-content {
    padding-top: 80px;
    max-width: 90%;
  }

  .hero-title {
    font-size: 2.2rem;
    line-height: 1.1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
  }

  .hero-description {
    font-size: 1rem;
    width: 100%;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    height: auto;
    margin-bottom: 1rem;
  }

  .hero-tags {
    font-size: 0.9rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .hero-buttons {
    width: auto;
    gap: 1rem;
  }

  .hero-btn {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    flex: 0 1 auto;
    justify-content: center;
    margin-right: 0;
  }
}
